@import "imports";
.brands__main {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: $secondary_font;
  @media (max-width: 840px) {
    margin: 53px 0;
  }

  svg {
    color: white;
  }
}
.brands__child {
  width: 89%;
  background: $bg_cards;
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px 0;
  padding: 20px;
  @media (max-width: 840px) {
    margin: 53px 0;
  }
  @media (max-width: 840px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.brand__card {
  display: flex;
  align-items: center;
  height: 100%;
  @media (max-width: 840px) {
    flex-direction: column;
  }
}

.brand__card__image {
  height: 90%;
  img {
    height: 100%;
    object-fit: contain;
    max-width: 20rem;

    @media (max-width: 840px) {
      max-width: 25rem;
    }
  }
}
.brand__card__text {
  
  h2 {
    font-size: 3rem;
    @media (max-width: 940px) and (min-width : 840px) {
      font-size: 1.8rem;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
    &:hover{
      color:darkgray;
    }
    span {
      font-size: 2rem;
      @media (max-width: 940px) and (min-width : 840px) {
        font-size: 1.5rem;
      }
     
    }
    transition: 0.3s;
    cursor: pointer;
    svg {
      transition: 0.3s;
      display:none;
    }
  }
  &:hover {
    div {
      svg {
        transform: translateX(30%);
        color: lightgray;
      }
      color: lightgray;
    }
  }
}
